vs/*
win32/*.vcxproj.user
bin/SweetCrush*
bin/*.dll
bin/*.txt
bin/*.ilk
bin/*.pdb
bin/gameData.*
build/
.vs/
.vscode
android/*.user
android/Android.mk
android/ARM
android/SDL2_GradleApp/ARM
android/SDL2_GradleApp/x86
android/SDL2_GradleApp/.gradle/*
android/SDL2_GradleApp/app/src/main/jniLibs/
.workspace

