vs/*
win32/*.vcxproj.user
bin/SweetCrush*
bin/*.so
bin/*.dll
bin/*.txt
bin/*.ilk
bin/*.pdb
bin/gameData.*
build/
.vs/
.vscode
android/*.user
android/.gradle/*
android/.idea
android/app/src/main/jniLibs/
android/app/.cxx/
android/build.gradle
android/build
android/local.properties
android/keystore.properties
android/*.jks
